.article {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &:nth-child(odd) {
    grid-auto-flow: dense;
    direction: rtl;
    text-align: end;
  }

  &:nth-child(3n + 1) {
    background: $third;
  }

  &:nth-child(3n + 2) {
    background: $first;
  }

  &:nth-child(3n + 3) {
    background: $second;
  }

  @include tablet {
    max-width: 900px;
  }
}

.content {
  padding: 10rem 4rem;

  h2 {
    margin-bottom: 1rem;
    font-family: $merriweather;
    font-size: 2rem;
    font-weight: 500;
  }

  a {
    margin: 2rem 0;
  }
}

.date {
  margin-bottom: 2rem;
  font-family: $lato;
  font-size: 1rem;
  font-weight: 500;
}

.overview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.illustration {
  background-size: cover;
  background-position: center;
}
